*{
    -webkit-box-sizing: border-box;/*لكي لا ياخذ مسافات من الاطؤراف*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

/*يوجد تدرج لوني */
/*start variable*/
:root{
    --main-color:#4477CE;
    --secondary-color:#8CABFF;
    --color3:#512B81;
    --color4:#35155D;
    --color5:red;
    --color6: #eeeeee; 
    --color7:rgba(255, 251, 0, 0.671);
    --color8: rgba(175, 186, 177, 0.996);
    
}



/*end*/


body{

    direction: rtl;
    font-family: 'Cairo', sans-serif;
   
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
}

.conatiners{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: white;
}

/*start conatiners*/

@media(min-width:768px){
    .conatiners{
        width:750px;
    }
}

@media(min-width:992px){
    .conatiners{

        width:970px;
    }
}

@media(min-width:1200px)
{
    .conatiners{
        width:1170px;
    }
}

/*end*/

/*start header style*/
header{
    background-color: var(--color3);
}
header .conatiners{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .conatiners nav{
    flex: 1;
}

header .conatiners nav ul{
    display: flex;
} 


header .conatiners nav ul li a{
    color: var(--color6);
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition:0.5s;
    -o-transition: 0.5s;
    font-size: 14px;
    padding: 20px 10px;

}
/*....start logo...*/
header .conatiners .logo p{

    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 30px;
    -webkit-border-radius:30px;
    background-color: var(--color7);
    
}

header .conatiners .logo p:hover{
    animation: logo 4s linear infinite;
    content: "";
    background-color: black;

}



/*start logo respensive*/
@media(min-width:768px){

    header .conatiners .logo p

    {
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        font-size: 18px;
        
    }
}

@media(max-width:767px){
    header .conatiners .logo p

    {
        font-size: 18px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }}

/*end logo respensive*/

/*...end logo...*/

header .conatiners .login{
    display: flex;

}

header .conatiners .login ul{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .conatiners .login ul li a{
    color: var(--color6);
    font-size: 16px ;
    padding: 20px 10px ;

}
header .conatiners a.active{
    color: var(--color5);
}
header .conatiners a.active::after{
    content: "";
    top: 56px;
    width: 117px;
    right: 182px;
    position: absolute;
    border-bottom: 3px var(--color6) solid;
}



/*start navbar responsive*/

header .conatiners .toggel-menu{
    color: var(--color6);
    font-size: 23px;

}

@media(min-width:768px){

    header .conatiners .toggel-menu{
        display: none;
    }
}

@media(max-width:767px){
    header .conatiners nav .nav_link{
        display: none;
    }
}
header .conatiners nav .show{
    display: flex;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    background-color: var(--color4);
    border-top: 1px var(--color6) solid;
}
header .conatiners a.active::after{
    content: "";
    top: 56px;
    width: 117px;
    right: 0px;
    position: absolute;
    border-bottom: 1px var(--color6) solid;
}

/*end navbar responsive*/

/*start landing page style*/

.landing_page{
    position: relative;
    background-color: #6d598e;
    height: calc(100vh - 50px);
    box-shadow: 0px 0.6px 0.5px 0.9px #cdd0d4;
}

.landing_page .conatiners{
    transition: 0.5s;
    display: grid;
    animation-delay: 0.5;
    grid-template-columns: repeat(auto-fill, minmax(400px , 1fr));
}

.landing_page .conatiners .landing_text{
    padding: 20px;
    margin-left: 25px;
    margin-top: 70px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-style: initial;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

.landing_page .conatiners .btn{
    padding: 15px 80px;
    color: var(--color6);
    margin: 20px;
    font-size: 20px;
    border-radius: 30px;
    -webkit-border-radius:30px;
    border-top-right-radius: 0;
    background-color: var(--secondary-color);

}
.landing_page .conatiners .btn:hover{
    background-color: transparent;
    background-color: var(--color4);
}

.landing_page .conatiners .landing_img img{
    width: 350px;
    animation-delay: 0.5;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    margin: 10px;
    left: 0;
    animation: anim 1s ease-out;

}

@keyframes anim{
    0%{
        transform: translateX(500px);
    }

    100%{
        transform: translateX(0);
    }
}

/*start responsive*/


@media(min-width:767px){
    

    .landing_page .conatiners .landing_text{

        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
}




/*end responsive*/

/*end landing page style*/

/* end header*/

/*صفحات التبويب */

.public{
    text-align: center;
}

.public .search{
    text-align: center;
    height: 33px;
    width: 696px;
    margin: 36px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}

.public img{

    width: 300px;
    height: 200px;
}

.public .text2{
    color: var(--color4);
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.public .text3{
    text-align: center;
    height: 67px;
    width: 550px;
    margin: 6px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}
.public .text4{
    text-align: center;
    height: 67px;
    width: 550px;
    margin: 6px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}
.public .text5{
    text-align: center;
    height: 67px;
    width: 550px;
    margin: 6px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}
.public .text6{
    text-align: center;
    height: 67px;
    width: 550px;
    margin: 6px;
    background-color: var(--color8);
    color:black;
    border-radius: 20px;
}
.public .text7{
    text-align: center;
    height: 67px;
    width: 550px;
    margin: 6px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}
.public .text8{
    text-align: center;
    height: 67px;
    width: 250px;
    margin: 40px;
    background-color: var(--color8);
    color: black;
    border-radius: 20px;
}
.public .text8:hover{
    background-color: var(--color4);
}

/*start responsive*/

@media(min-width:767px){
    .conatiners .public .search {
        margin: 20px;
    }
}
@media(max-width:400px){
    

    .conatiners .public .search {
        margin-right: 25px;
        margin-left: 25px;
        width: 313px;
    }
    .conatiners .public .text2 {
        margin-right: 15px;
        margin-left: 15px;
        width: 313px;
    }
    .conatiners .public .text3 {
        margin-right: 15px;
        margin-left: 15px;

        width: 313px;
    }
    .conatiners .public .text4 {
        margin-right: 15px;
        margin-left: 15px;

        width: 313px;
    }
    .conatiners .public .text5 {
        margin-right: 15px;
        margin-left: 15px;

        width: 313px;
    }
    .conatiners .public .text6 {
        margin-right: 15px;
        margin-left: 15px;

        width: 313px;
    }
    .conatiners .public .text7 {
        margin-right: 15px;
        margin-left: 15px;
        width: 313px;
    }
}




/*end responsive*/
    
/*end navbar responsive*/
/*-----------------------------------------------------------------------*/

/*signin*/

section{
    padding: 100%;
    padding-right: 500px;
    padding-top: 100px;
    background: var(--color4);
}

section .box{
    position: relative;
    width: 380px;
    height: 420px;
    background: var(--main-color);
    border-radius: 8px;
    text-align: center;
    align-content: center;
    overflow: hidden;

}
.box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45e9ff, #45e9ff , #45e9ff);
    z-index: 1;
    transform-origin: top left;
    animation: anim 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45e9ff, #45e9ff , #45e9ff);
    z-index: 1;
    transform-origin: top left;
    animation: anim 6s linear infinite;
    animation-delay: -3s;
}

@keyframes anim{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

section .box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    flex-direction: column;
}

.box form h2{
    color: #45e9ff;
    text-align: center;
    letter-spacing: 0.1em;

}

.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
    
}

.box form .inputbox input{
    position: relative;
    direction: ltr;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.005em;
    transition: 0.5s;
    z-index: 8;
}

.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputbox input:valid~span, .box form .inputbox input:focus~span{
    color: #45e9ff;
    font-size: 0.75em;
    transform: translateY(-34%);

}

.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 300px;
    background: #45e9ff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    color: #eeeeee;

}

.box form .inputbox input:valid~i, .box form .inputbox input:focus~i{
    height: 44px;

}
.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover, .box form .links a:nth-child(2){
    color: #45e9ff;
}

.box form input[type="Submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 0.9empx;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin: 10px;
}
.box form input[type="Submit"]:active{
    opacity: 0.8;
}

/*start responsive*/


@media screen and (max-width:600px){
    .signin .box{
        
        margin-right: -472px;
        
    }
    
}

@media screen and (max-width:768px){
    .signin .box{
        
        margin-right: -292px;
        
    }
    
}

/*end responsive*/